*{
	margin: none;
	padding: none;
}

body{
	width: 100%;
	padding: none;
	margin: none;
	height: auto;
}

.nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: none;
	padding: none;
	border: none;
	background-color: white;
}
#nav-bar ul{
	padding: none;
	margin: none;
	list-style: none;
	width: 100%;
}
#nav-bar{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: none;
	padding: none;
}
#first {
	margin: none;
	border: none;
	padding: 0px  5px 0px 8px;
	display: flex;
	flex-direction: row; 
	justify-content: flex-start;
	align-items: center;
}
#second{
	display: flex;
	flex-direction: row; 
	align-items: center;
}
#third{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
#third li{
	align-content: space-around;
	padding-left: 0px;
	margin: 0px;
}
#lines{
	width: 51px;
	height: 35px;
	padding: 0px 15px 0px 0px;
} 
#youtube-home{
	width: 85px;
	height: 50px;
} 
#camera{
	padding: 0px 10px ;
	height: 45px;
	width: 45px;

} 
#dots{
	height: 20px;
	width: 35px;
	padding: 0px 10px ;
}
#magnyfying-glass{
	padding: 5px;
	height: 15px;
	width: 15px;
	border: 3px solid grey;

}
#bubble{
	height: 20px;
	width: 18px;
	padding: 0px 10px ;
}
#bell{
	height: 25px;
	width: 22px;
	padding: 0px 10px ;
}
#account{
	height: 40px;
	width: 35px;
	padding: 0px 10px ;
}
#search{
	width: 500px;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px; 
	background-image: url(../Media/keyboard.png);
	background-size: 20px 30px;
    background-repeat: no-repeat;
	background-position: right;
}
p {
	font-family: Roboto, Arial, sans-serif;
}

#core{
	width: 100%;
	padding-top: 100px;
	display: flex;
}
#main-video{
	width: 60%;
	padding: 20px 20px;
	justify-content: flex-start;
}
#likes{
	display: flex;
	vertical-align: center;
	justify-content: space-between;
}
#likes p{
	vertical-align: center;
	padding-top: 7px;
}
#suggestions{
	width: 30%;
	justify-content: flex-end;
}
#suggestions table img{
	height: 110px;
	width: 190px;

}
table {
	padding: 18px 0px 0px 20px ;
	display: flex;
	justify-content: flex-end;
	margin-left: 20px;
}
table h3{
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	margin: none;
}
table h4 {
	font-family: Roboto, Arial, sans-serif;
	font-size: 10px;
	margin: none;
	font-weight: normal;
}